# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# Copied files
/.clang-format
/.clangd
/.devcontainer/devcontainer.json
/.devcontainer/setup.sh
/.editorconfig
/.github/workflows/build_binaries.yaml
/.vscode/extensions.json
/LICENSE
/Makefile
